@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-main: 'Montserrat', sans-serif;

html {
    height: 100%;
    font-family: 100% $font-main;
}

:root {
	--nav-fg: #222;
	--nav-bg: #fff;
    --body-bg: #31037D;

    // animacao
    --axis-x: 1px;
    --axis-y: 1rem;
    --delay: 10;
    --color-black: #000;
    --color-white: #fff;
    --color-orange: #D49C3D;
    --color-red: #D14B3D;
    --color-violet: #CF52EB;
    --color-blue: #44A3F7;
    --color-green: #5ACB3C;
    --color-yellow: #DEBF40;
    --color-foreground: var(--color-white);
    --font-name: Righteous;
}

[data-theme="dark"] {
	--nav-fg: #eee;
	--nav-bg: #121212;
    --body-bg: #121212;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    background: var(--body-bg);
}
  
.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

// TEXTO ANIMADO //
$root: '.c-rainbow';

.c-rainbow {
    font: 100% $font-main;

    li {
        font-weight: 700;
        font-size: 56px !important;
    }
}

#{$root} {
 counter-reset: rainbow;
 position: relative;
 display: block;
 
 list-style: none;
 
 padding: 0;
 margin: 0;
 
 &__layer {
  --text-color: var(--color-foreground);
  counter-increment: rainbow; 
  font-size: 3rem;
  color: var(--text-color);

  text-shadow:
   -1px -1px 0 var(--color-black),  
    1px -1px 0 var(--color-black),
    -1px 1px 0 var(--color-black),
     1px 1px 0 var(--color-black),
   
     4px 4px 0 rgba(0, 0, 0, .2);
  
  animation: rainbow 1.5s ease-in-out infinite;
  
  @for $i from 1 through 7 {
   &:nth-child(#{$i}) {
    animation-delay: calc( #{$i} / var(--delay) * 1s);
    left: calc(var(--axis-x) * #{$i});
    z-index: -#{$i * 10};
   }
  }
  
  &:not(:first-child) {
   position: absolute;
   top: 0;
  }

  &--white  { --text-color: var(--color-white)}
  &--orange { --text-color: var(--color-orange)}
  &--red    { --text-color: var(--color-red)}
  &--violet { --text-color: var(--color-violet)}
  &--blue   { --text-color: var(--color-blue)}
  &--green  { --text-color: var(--color-green)}
  &--yellow { --text-color: var(--color-yellow)}
 }
}

@keyframes rainbow {
 0%, 100% {
  transform: translatey(var(--axis-y)); 
 }
 50% {
  transform: translatey(calc(var(--axis-y) * -1));
 }
} 

footer {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 20px;
    background: var(--nav-bg);
    color: var(--nav-fg);

    p {
        font: 100% $font-main;
        font-weight: 600;
        margin-top: 5px;
    }
}

.socials {
    ul {
        display: inline-block;
        list-style: none;
        li {
            float: left;
            padding: 0 15px 0 15px;

            .fab { font-size: 18px; color: var(--nav-fg) }
        }
    }
}