@import 'https://fonts.googleapis.com/css?family=Calligraffitti';
@import 'https://fonts.googleapis.com/css?family=Montserrat';
/* Dark mode Switch */
/* The switch - the box around the slider */
.theme-switcher {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 20%;
}
.theme-switcher i {
  font-size: 20px;
  width: 50px;
}
.theme-switcher #sun {
  color: var(--sun);
}
.theme-switcher #moon {
  color: var(--moon);
  padding-left: 30px;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 21px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: white;
}

/*input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}*/
input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
  background-color: black;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

html {
  font-size: 12px;
}

body.menu-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --nav-fg: #222;
  --nav-bg: #fff;
  --sun: #faba16;
  --moon: #d1d5db;
}

[data-theme=dark] {
  --nav-fg: #eee;
  --nav-bg: #121212;
  --sun: #d1d5db;
  --moon: #44A3F7;
}

.main-header {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 90px;
  color: var(--nav-fg);
  background: var(--nav-bg);
}
.navigation .logo {
  width: 60%;
  display: flex;
  align-items: center;
  padding: 15px;
}
.navigation #logo-text {
  font-size: 2.4em;
  color: var(--nav-fg);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.navigation .hamburger-menu {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 25px;
  cursor: pointer;
  z-index: 999;
  opacity: 1;
}
.navigation .hamburger-menu:hover .hamburger::before {
  transform: translate(0, -1px);
}
.navigation .hamburger-menu:hover .hamburger::after {
  transform: translate(0, 1px);
}
.navigation .hamburger-menu .hamburger {
  width: 24px;
  height: 10px;
  position: relative;
}
.navigation .hamburger-menu .hamburger::before, .navigation .hamburger-menu .hamburger::after {
  content: "";
  width: 24px;
  height: 2px;
  background: var(--nav-fg);
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation .hamburger-menu .hamburger::before {
  top: 0;
}
.navigation .hamburger-menu .hamburger::after {
  top: 8px;
}
.menu-open .navigation .hamburger-menu .hamburger::before, .menu-open .navigation .hamburger-menu .hamburger::after {
  background: var(--nav-fg);
}
.menu-open .navigation .hamburger-menu .hamburger::before {
  transform: rotate(45deg);
}
.menu-open .navigation .hamburger-menu .hamburger::after {
  top: 0;
  transform: rotate(-45deg);
}
.navigation .menu-container {
  width: 0%;
  height: 100%;
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  z-index: 800;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.99, 0.04, 0.87, 1);
  background: var(--nav-bg);
  opacity: 0;
}
.menu-open .navigation .menu-container {
  width: 100%;
  opacity: 1;
}
.navigation .menu-container .menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  list-style: none;
  margin: 0;
}
@media (max-width: 667px) and (min-width: 320px) and (orientation: landscape) {
  .navigation .menu-container .menu {
    display: initial;
  }
  .navigation .menu-container .menu li {
    display: inline-block;
    margin: 0 16px;
  }
  .navigation .menu-container .menu li:nth-child(4) {
    margin: 0;
  }
}
.navigation .menu-container .menu li {
  font-family: "Montserrat", sans-serif;
  color: var(--nav-fg);
  padding: 0;
  flex: 1;
}
.menu-open .navigation .menu-container .menu li:nth-child(1) {
  opacity: 1;
}
.menu-open .navigation .menu-container .menu li:nth-child(2) {
  opacity: 1;
}
.menu-open .navigation .menu-container .menu li:nth-child(3) {
  opacity: 1;
}
.menu-open .navigation .menu-container .menu li:nth-child(4) {
  opacity: 1;
}
.menu-open .navigation .menu-container .menu li:nth-child(5) {
  opacity: 1;
}
.menu-open .navigation .menu-container .menu li:nth-child(6) {
  opacity: 1;
}
.navigation .menu-container .menu li:nth-child(1) {
  opacity: 0;
  transition: 0.2s opacity 0.05s;
}
.navigation .menu-container .menu li:nth-child(2) {
  opacity: 0;
  transition: 0.2s opacity 0.1s;
}
.navigation .menu-container .menu li:nth-child(3) {
  opacity: 0;
  transition: 0.2s opacity 0.15s;
}
.navigation .menu-container .menu li:nth-child(4) {
  opacity: 0;
  transition: 0.2s opacity 0.2s;
}
.navigation .menu-container .menu li:nth-child(5) {
  opacity: 0;
  transition: 0.2s opacity 0.25s;
}
.navigation .menu-container .menu li:nth-child(6) {
  opacity: 0;
  transition: 0.2s opacity 0.3s;
}
.navigation .menu-container .menu li:nth-child(4) p {
  margin: 16px 0;
}
@media (max-width: 667px) and (min-width: 320px) and (orientation: landscape) {
  .navigation .menu-container .menu li:nth-child(4) p {
    margin: 0;
  }
}
.navigation .menu-container .menu li.menu-line {
  width: 30px;
  height: 1px;
  background: #fff;
  margin: 32px auto 16px;
  padding: 0;
  flex: initial;
}
@media (max-width: 667px) and (min-width: 320px) and (orientation: landscape) {
  .navigation .menu-container .menu li.menu-line {
    display: none;
  }
}
@media (min-width: 667px) {
  .navigation .menu-container .menu li.menu-line {
    width: 1px;
    height: 87px;
  }
}
.navigation .menu-container .menu li a {
  display: block;
  color: var(--nav-fg);
  font-size: 1.5rem;
  padding: 16px 0;
  outline: 0;
}
.navigation .menu-container .menu li a:hover {
  color: #333;
}
@media (min-width: 1190px) {
  .navigation .menu-container .menu li a {
    font-size: 2rem;
  }
}
.navigation .menu-container .menu li p {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 0;
}
@media (min-width: 930px) {
  .navigation .menu-container .menu li p {
    font-size: 1.2rem;
  }
}
@media (min-width: 1190px) {
  .navigation .menu-container .menu li p {
    font-size: 1.5rem;
  }
}
.navigation .menu-container .menu-info {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 16px;
  line-height: 1.6em;
  left: 0;
  color: #fff;
  z-index: 1;
  padding: 0 16px;
  transform: translate(0, calc(100% + 16px));
  transition: 0.2s 1s;
}
.navigation .menu-container .menu-info p {
  font-size: 1rem;
  margin-bottom: 0;
}
@media (min-width: 930px) {
  .navigation .menu-container .menu-info p {
    font-size: 1.4rem;
  }
}
@media (min-width: 1190px) {
  .navigation .menu-container .menu-info p {
    font-size: 1.7rem;
  }
}
.menu-open .navigation .menu-container .menu-info {
  transform: translate(0, 0);
}

.navigation.dark {
  --nav-fg: #eee;
  --nav-bg: #121212;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .fas.fa-sun {
    margin-right: 20px;
  }
}

/*# sourceMappingURL=navbar.css.map */
